:root {
        --limezing: #B0FF32;
        --deepforest: #004B23;
        --brightgrass: #38B000;
        --midnightblue: #263238;
        --frostywhite: #F5FFF0;
        --cloudygrey: #F6F3F3;
        --silvermist: #D9D9D9;
        --pinkcottoncandy: #F5C9C9;
        --mintyseafoam: #C6EEE4;
        --deepdark: #000000;

}